.imageDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.imageDiv:hover {
    cursor: pointer;
}
.stories-images {
    margin:0px 8px;
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
    object-fit: cover;
}

.userNames {
    font-size: 13px;
    margin-top:5px;
    margin-left:0px !important 
}